*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif; */
  ;
  color: #333;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 30px;
  margin-bottom: 30px;
}

.App-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1470px;
  min-width: 1100px;
  padding-right: 5px;
  padding-left: 5px;
}

.tabs-container {
  display: flex;
}

.tab {
  font-size: 13px;
  font-weight: bold;
  padding: 8px 20px;
  line-height: 22px;
  background-color: #f9f9f9;
  cursor: pointer;
  /* border-top: 1px solid #ddd;
  border-left: 1px solid #ddd; */
  border: 1px solid #ddd;
  border-bottom: none;
  color: #0654ba;
}

.tab:hover {
  opacity: 1;
  background: #fff;
}

.active-tab {
  background: #fff;
  border-bottom-color: #fff;
  box-shadow: 4px -1px 0px #eee;
  position: relative;
  top: 1px;
}

.active-tab:hover {
  cursor: default;
}

.report-item-link {

  margin-left: auto;
  align-self: center;
  margin-right: 18px;
}

.content-container {
  border: 1px solid #ddd;
  padding: 15px 35px 15px 30px;
  width: 100%;

}

.content-container a:visited {
  color: #6a29b9;
}

.content {
  display: none;
  width: 100%;
}

.active-content {
  display: block;
}

.topBlockDetailsContainer {}

.topBlockItemNumDiv {
  float: right;
  padding-top: 8px;
  font-weight: bolder;
  color: #767676;
  font-size: .9rem;
  font-weight: bold;
}

.topBlockItemNumber {
  font-weight: 900;
  padding-left: 8px;
  color: #333;
}

.topBlockDetailsContainer p {
  font-size: .825rem;
  padding-top: 18px;
  font-weight: 600;
}

.topBlockUpdateDate {
  font-size: .9rem;
  font-weight: 500;
  margin-bottom: 10px;
}


.itemSpecificsContainer {
  border: 1px solid #c7c7c7;
  padding: 10px 20px;
  margin-bottom: 16px;
}

.itemSpecificsTitle {
  display: flex;
  font-size: 1rem;
  padding-bottom: 8px;
  font-weight: 700;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 8% 38% 9% 33%;
  gap: 1%;
  row-gap: 10px;
  width: 100%;
  color: #111
}

.label {}

.label2 {
  padding-left: 20px;
}

.details {}

.miniNavbarContainer {
  border: 1px solid transparent;
  margin: auto;
  border-radius: 4px;
  min-height: 50px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 5px rgb(0 0 0 / 8%);
  margin-right: 15px;
}

.navbarMainGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-self: center;
  margin-right: -15px;
}

.priceMeNow {
  height: 100%;
  margin-right: 86px;
  width: 400px;
}

.navbarLinksUL {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 215x;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-right: 80px;
}

.navbarDiv {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbarDiv:hover {
  background-color: #eeeeee;
}

.navbarLink {
  color: #333;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
}

a.navbarLink:visited {
  color: #333;
}

.navbarLink:hover {
  text-decoration: none;
}

.largeImgWithDetailsBlockContainer {
  width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 50%;
  column-gap: 5%;
}

.main-bandana-img {
  width: 107%;
  margin-left: 4px;
}

.largeBottomTxtContainer {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4px;
}

.largeBottomTxtTitle {
  font-size: 2rem;
  padding-right: 5px;
}

.largeBottomTxtPrice {
  font-size: 1.5rem;
}

.largeBottomTxtTitleSmall {
  font-size: 1.17rem;
  margin-left: 1px;
  margin-right: 10px;
}

.largeBottomTxtProductDetailsTitle {
  font-size: 1.17rem;
}

.largeBottomGreyTextBoxContainer {
  background-color: #f1f1f1;
  padding: .5rem 1rem .5rem 1rem;
  margin-right: 17px;
}

.productDetailsUL {
  padding-left: 20px;
  font-size: 12px;
  font-weight: normal;
}

.channelAdvisorLogo {
  display: grid;
  justify-items: center;
  /* margin: auto */
  margin-bottom: 100px
}

.shippingPaymentsMainContainer {
  font-size: .8125rem;
  font-weight: bold;
  /* border: 1px solid blue; */
}

.shipping-handling-container,
.return-policy-main-container,
.payment-details-main-container {
  border: 1px solid #ccc;
  /* width: 100% */
  padding: 0 25px 0 25px;
  margin-bottom: 15px;
}

.shippingHandlingTitle,
.returnPolicyTitle,
.paymentDetailsTitle {
  font-size: 1rem;
  margin-top: 5px;
}

.itemLocationDiv {
  color: #707070
}

.ShippingAndHandlingForm {
  display: grid;
  grid-template-columns: .5fr 1.8fr 1fr;
  /* gap: 3rem; */
  color: #333;
  width: 75%;
  font-weight: normal;
  align-items: center;
}

.quantityBox {
  padding: 5px
}

.countryDropDown {
  min-width: 230px;
}

.zipcodeDiv {
  margin-right: 45px;
  min-width: 300px;
}

.zipcodeBox {
  width: 108px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 8px
}

.shippingHandlingSubBtn {
  font-weight: 500;
  height: 30px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  text-decoration: none;
  color: #0654ba
}

.shippingHandlingSubBtn:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #382aef;
}

.shippingTable {
  font-weight: bold;
  margin-top: 15px;
  background-color: #ddd;
  padding: 10px;
  font-size: 10px;
  font-family: inherit;
  display: grid;
  grid-template-columns: 14% 13% 12% 27% 30%;
}

.shipingTableInfo {
  display: grid;
  padding: 10px;
  grid-template-columns: 14% 13% 12% 27% 30%;
  font-weight: normal;
  font-size: 14px;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  margin-bottom: 5px;
}

.returnPolicyGreyDiv {
  display: grid;
  grid-template-columns: 1fr 1fr .9fr;
  /* font-size: 10px; */
}

.returnPolicyGreyDiv p {
  margin: 0;
  font-size: 10px
}

.returnPolicyTable {
  display: grid;
  grid-template-columns: 34% 33.4% 30%;

}

.trademark {
  font-size: 10px;
  height: 100%;
  position: relative;
  top: -5px
}

.deliveryDate {
  font-weight: bold;
  color: #555
}

.deliveryEstimate {
  font-size: 10px;
  padding-left: 25px;
  color: #555;
  margin-top: 5px;
}

.estimateLink,
.taxesLink,
.retunsLink,
.seetermsLink {
  color: #0654ba
}

.handlingTimeDiv,
.taxesDiv,
.returnPolicyGreyDiv,
.paymentMethodsGreyDiv {
  background-color: #ddd;
  font-weight: bold;
  font-size: 11px;
  color: #444;
  padding: 9px;
  padding-left: 15px;
  border-bottom: 1px solid #c4c4c4;
}

.handlingTimeP,
.taxesP,
.returnDaysP,
.returnsP {
  color: #5d5d5d;
  padding-left: 15px;
  font-size: 13px;
  margin-top: 5px;
}

.returnDaysP {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}

.returnsP {
  padding-left: 0;
}

.minilogos {
  padding: 20px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 10px;
}

.paypal {
  background-image: url(https://ir.ebaystatic.com/cr/v/c1/payment-logo-sprite.png);
  background-position: center;
  background-position-x: -155px;
  display: inline-block;
  height: 24px;
  width: 39px;
  color: transparent;
  margin-right: 3px;
}

.Gpay {
  background-image: url(https://ir.ebaystatic.com/cr/v/c1/payment-logo-sprite.png);
  background-position: center;
  background-position-x: -310px;
  display: inline-block;
  height: 24px;
  width: 39px;
  color: transparent;
  margin-right: 3px;

}

.Visa {
  background-image: url(https://ir.ebaystatic.com/cr/v/c1/payment-logo-sprite.png);
  background-position: center;
  background-position-x: 0;
  display: inline-block;
  height: 24px;
  width: 39px;
  color: transparent;
  margin-right: 3px;

}

.Mastercard {
  background-image: url(https://ir.ebaystatic.com/cr/v/c1/payment-logo-sprite.png);
  background-position: center;
  background-position-x: -39px;
  display: inline-block;
  height: 24px;
  width: 39px;
  color: transparent;
  margin-right: 3px;

}

.Amex {
  background-image: url(https://ir.ebaystatic.com/cr/v/c1/payment-logo-sprite.png);
  background-position: center;
  background-position-x: -77.5px;
  display: inline-block;
  height: 24px;
  width: 39px;
  color: transparent;
  margin-right: 3px;

}

.Discover {
  background-image: url(https://ir.ebaystatic.com/cr/v/c1/payment-logo-sprite.png);
  background-position: center;
  background-position-x: -116px;
  display: inline-block;
  height: 24px;
  width: 39px;
  color: transparent;
  margin-right: 3px;

}

.payPal-SpecialFinancingBlock {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 15px;
  padding: 20px;
  column-gap: 7rem;
}

.paypalcreditLogo {
  background: url(//p.ebaystatic.com/aw/logos/logoPaypalCreditv2_157x55.png) no-repeat;
  display: inline-block;
  width: 157px;
  height: 55px;
  color: transparent;
}

.specialFinancingAvailableDiv {
  font-size: .9rem;
  font-weight: normal;
  color: #262626;
  width: 95%;
  margin-bottom: 10px;
}

.specialfiniancingtitle {
  margin: 0;
  color: #3665f3;
  font-size: 1.3rem;
  font-family: "Helvetica neue";
}

.financingBold {
  font-weight: 700;
  color: #262626;
  font-size: .85rem
}