*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1475px;
  min-width: 1230px;
}

.tabs-container {
  display: flex;
}

.tab {
  font-size: 13px;
  font-weight: bold;
  padding: 8px 20px;
  line-height: 22px;
  background-color: #f9f9f9;
  cursor: pointer;
  /* border-top: 1px solid #ddd;
  border-left: 1px solid #ddd; */
  border: 1px solid #ddd;
  border-bottom: none;
  color: #0654ba;
}

.tab:hover {
  opacity: 1;
  background: #fff;
}

.active-tab {
  background: #fff;
  border-bottom-color: #fff;
  box-shadow: 4px -1px 0px #eee;
  position: relative;
  top: 1px;
}

.active-tab:hover {
  cursor: default;
}

.report-item-link {
  margin-left: auto;
  align-self: center;
}

.content-container {
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;

}

.content {
  display: none;
  width: 90vw;
}

.active-content {
  display: block;
}